// Grays
$white_smoke    : #E0E0E0;

// Greens
$azureish_white : #D6F8F1;

// Blacks
$black          : #000000;

// Defaults
$base           : $azureish_white;
$text           : $black;
$line           : $white_smoke;
