#header{
  max-width: 1440px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 100px;

  .welcome-logo{
    margin-top: 140px;
    margin-bottom: 70px;
    max-width: 441px;
    width: 80%;
  }

  .words-container{
      display: flex;
      flex-direction: column;

      &.mobile{
        display: none;
      }

      @media only screen and (max-width: 1050px){
        & .words-row{
          max-width: 600px;
        }
      }

      @media only screen and (max-width: 600px){
        &{
          display: none;
        }

        &.mobile{
          display: block;
        }
      }

      &.mobile {
        .words-row{
          margin: 0 20px;
        }

        .word{
          font-size: 1.2em;
        }
      }

      & .words-row{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        flex-wrap: wrap;
      }

      & .word {
        margin-right: 10px;
        font-size: 1.5em;
        line-height: 34px;
        opacity: .28;
        cursor: pointer;
        white-space:nowrap;

        &:hover{
          opacity: 1;
        }

        &:after{
          content: " . ";
        }

        &:last-child:after{
          content: "";
        }
        
      }

  }


}
