section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line{
  width: 100%;
  height: 1px;
  border-bottom: 1px solid $line;
}

#who-i-am{
  & > .photo{
    width: 150px;
    margin-bottom: -20px;
  }
}



#experience{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project{
  position: relative;
  width: 100%;
  height: 800px;
  max-width: 1300px;
  display: flex;
  overflow: hidden;

  & > .left {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 650px;
    background-size: auto 100%;
    background-position: center center;
    overflow: hidden;

    & > .left-image{
      height: 100%;
      width: 100%;
      background-size: auto 100%;
      background-position: center center;
    }

    & > .angle{
      width: 50px;
      height: 810px;
      transform: rotate(2deg);

      &.odd{
        transform: rotate(-2deg);
      }

      &.left{
        position: absolute;
        background: white;
        margin-left: -36px;

      }
      &.right{
        width: 30px;
        background: white;
        margin-left: -14px;
        margin-right: -20px;
      }
    }
  }

  & > .right{
    overflow: hidden;
    height: 100%;
    width: 100%;
    min-width: 450px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .job{
    font-size: 19px;
    font-weight: bold;
    background: $base;
    padding: 5px 10px;
    margin: 60px 0px 20px 0px;
  }
  .title{
    font-size: 64px;
    text-align: center;
    border-bottom: 1px solid black;
    max-width: 500px;
    height: 54px;
    font-weight: bold;
    padding: 0px 10px;
  }
  .subtitle{
    font-size: 19px;
    font-weight: bold;
    width: 300px;
    margin: 20px 0px;
    text-align: center;

  }
  .info{
    width: 370px;
    text-align: left;
    margin-top: 20px;
  }
}
