#footer
	img.food(src='assets/food.svg')
	.title Let's Talk
	.subtitle “Ask, share or just say hi”
	a#lets-talk.button(href='mailto:dannyvanderjagt@gmail.com') Say hi	
	img.tree(src='assets/tree.svg')
	img.bench(src='assets/tree-and-bench.svg')