#header
	#who-i-am
	img.welcome-logo(src="assets/welcome-logo.svg")
	.words-container.mobile
		.words-row
			.word front-end & react-native developer
			.word psychology	
			.word nutrition	
			.word startups
			.word ideation	
			.word creative perspectives
	.words-container
		.words-row
			.word biology 
			.word front-end developer
			.word creativity 
			.word phychology 
			.word nutrition 
			.word adventure
		.words-row
			.word windsurfing
			.word design
			.word determination
			.word technology
			.word mentoring
			.word startups
		.words-row
			.word react-native developer
			.word mountain biking
			.word highly sensitive person
			.word teaching
			.word listening
		.words-row
			.word fresh perspectives
			.word nature
			.word photography
			.word brainstorming
			.word ideation