nav.navigation
  img.icon(src='assets/icon.svg')
  .menu
    a.item(href='#who-i-am') Who I am
    a.item(href='#experience') Experience
    a.item(href='#lets-talk') Let's talk
  .socials
    each item in socials
      a.icon(href=item.url)
        img.icon(src=item.icon)

.navigation-spacer
