section#lets-talk
  .spacer-h-80
  .spacer-h-80
  .spacer-h-80
  h1 Let's talk.
  h3.subtitle “Teamwork is at the heart of great achivement”
  .spacer.h-40
  .socials.big
    each item in socials
      a.icon(href=item.url)
        img.icon(src=item.icon)
  .spacer
  .button Send me a mail
  .spacer.h-80
