/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#projects {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
  #projects .project {
    width: 100%;
    display: flex;
    flex-direction: row; }
    #projects .project .image-container {
      width: 50%;
      background-position: center center;
      background-size: auto 100%; }
    #projects .project .content-container {
      display: flex;
      justify-content: center;
      width: 50%;
      padding: 100px 0;
      background: white;
      text-align: center; }
      #projects .project .content-container .content {
        max-width: 370px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        #projects .project .content-container .content .title-container {
          margin: 30px 0; }
          #projects .project .content-container .content .title-container .title {
            font-size: 70px;
            font-weight: bold;
            background: #D6F8F1;
            transform: rotate(-1deg);
            height: 60px;
            margin-bottom: 15px; }
            #projects .project .content-container .content .title-container .title .background {
              transform: rotate(1deg); }
        #projects .project .content-container .content .intro {
          font-size: 19px;
          font-weight: bold;
          margin: 10px 0;
          line-height: 25px; }
        #projects .project .content-container .content .role {
          margin: 10px 0;
          padding: 15px 0;
          border-top: 1px solid #D3D3D3;
          border-bottom: 1px solid #D3D3D3;
          font-weight: bold;
          min-width: 250px; }
        #projects .project .content-container .content p {
          font-size: 1em;
          margin: 20px 0 10px 0;
          line-height: 1.4em; }
        #projects .project .content-container .content .button {
          background: black;
          border-radius: 50px;
          padding: 15px 0px;
          min-width: 200px;
          color: white;
          font-size: 20px;
          font-weight: bold;
          cursor: pointer;
          margin-top: 40px; }
        #projects .project .content-container .content .download {
          font-size: 15px;
          font-weight: bold;
          margin: 25px 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center; }
          #projects .project .content-container .content .download .store {
            padding: 0 10px;
            margin-top: -4px; }
            #projects .project .content-container .content .download .store:nth-child(odd) {
              border-left: 1px solid rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 1200px) {
    #projects .image-container {
      background-size: auto 100% !important; } }
  @media only screen and (max-width: 1000px) {
    #projects .project .image-container {
      width: 40% !important;
      background-size: auto 100%; }
    #projects .project .content-container {
      width: 60%; } }
  @media only screen and (max-width: 766px) {
    #projects .project {
      flex-direction: column !important; }
      #projects .project .image-container {
        width: 100% !important;
        height: 400px;
        background-size: 100% auto !important; }
      #projects .project .content-container {
        width: 100%; }
        #projects .project .content-container .content {
          flex: 0; } }

#footer {
  padding: 100px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 100px; }
  #footer .title {
    padding-top: 10px;
    font-size: 80px;
    font-weight: 900;
    background: #D6F8F1; }
  #footer .subtitle {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center; }
  #footer .button {
    background: black;
    padding: 20px 0;
    min-width: 200px;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center; }
  #footer .food {
    margin-left: 300px; }
  #footer .tree, #footer .bench {
    position: absolute;
    bottom: 0; }
  #footer .tree {
    left: 30%; }
  #footer .bench {
    right: 20%; }
  @media only screen and (max-width: 500px) {
    #footer .title {
      font-size: 50px; }
    #footer .subtitle {
      font-size: 20px; }
    #footer .food {
      margin-left: 150px; } }

.navigation-spacer {
  height: 60px; }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center; }
  .navigation .wordmark {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 20px; }
  .navigation > .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 60px;
    width: 100%;
    background-color: white; }
    .navigation > .menu > .item {
      font-size: 16px;
      font-weight: bold;
      margin-right: 20px;
      padding: 5px; }
      .navigation > .menu > .item:hover {
        background-color: #D6F8F1; }
  .navigation > .socials {
    position: absolute;
    right: 20px;
    top: 0px;
    display: flex;
    align-items: center;
    height: 60px; }
    .navigation > .socials a.icon {
      margin-right: 15px; }
  @media only screen and (max-width: 600px) {
    .navigation {
      left: inherit; }
    .navigation .socials {
      left: 0px;
      background-color: #D6F8F1;
      justify-content: center; }
    .navigation .wordmark {
      top: 60px; }
    .navigation .menu {
      margin-top: 120px; } }
  @media only screen and (max-width: 430px) {
    .navigation .wordmark {
      display: none; } }

#header {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px; }
  #header .welcome-logo {
    margin-top: 140px;
    margin-bottom: 70px;
    max-width: 441px;
    width: 80%; }
  #header .words-container {
    display: flex;
    flex-direction: column; }
    #header .words-container.mobile {
      display: none; }
    @media only screen and (max-width: 1050px) {
      #header .words-container .words-row {
        max-width: 600px; } }
    @media only screen and (max-width: 600px) {
      #header .words-container {
        display: none; }
      #header .words-container.mobile {
        display: block; } }
    #header .words-container.mobile .words-row {
      margin: 0 20px; }
    #header .words-container.mobile .word {
      font-size: 1.2em; }
    #header .words-container .words-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      flex-wrap: wrap; }
    #header .words-container .word {
      margin-right: 10px;
      font-size: 1.5em;
      line-height: 34px;
      opacity: .28;
      cursor: pointer;
      white-space: nowrap; }
      #header .words-container .word:hover {
        opacity: 1; }
      #header .words-container .word:after {
        content: " . "; }
      #header .words-container .word:last-child:after {
        content: ""; }

@font-face {
  font-family: "Butler";
  src: url(assets/butler_regular-webfont.woff2); }

body {
  display: flex;
  flex-direction: column;
  font-family: "Butler", "Times New Roman";
  display: flex;
  align-items: center;
  overflow-x: hidden; }

.spacer {
  height: 30px; }
  .spacer.h-10 {
    height: 10px; }
  .spacer.h-40 {
    height: 40px; }
  .spacer.h-80 {
    height: 80px; }

a {
  color: inherit;
  text-decoration: inherit; }
  a:hover {
    text-decoration: underline; }

.main-content {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center; }

h1 {
  font-size: 64px;
  font-weight: bold;
  background-color: #D6F8F1;
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 55px;
  border-bottom: 1px solid black; }

h3 {
  font-size: 19px;
  font-weight: bold;
  max-width: 325px;
  text-align: center;
  margin-top: 10px; }

.info {
  max-width: 380px;
  font-size: 17px;
  line-height: 26px;
  text-align: center; }
