/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.socials {
  display: flex;
  align-items: center;
  justify-content: center; }
  .socials > .icon {
    height: 20px;
    margin-left: 15px; }
  .socials.big > .icon {
    height: 40px;
    margin-left: 25px; }

.button {
  height: 32px;
  background: black;
  border-radius: 50px;
  color: white;
  font-size: 19px;
  font-weight: bold;
  padding-top: 12px;
  padding-left: 30px;
  padding-right: 30px; }

section {
  display: flex;
  flex-direction: column;
  align-items: center; }

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #F4F4F4; }

#who-i-am > .photo {
  width: 150px;
  margin-bottom: -20px; }

#experience {
  width: 100%;
  display: flex;
  flex-direction: column; }

.project {
  position: relative;
  width: 100%;
  height: 800px;
  max-width: 1300px;
  display: flex;
  overflow: hidden; }
  .project > .left {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 650px;
    background-size: auto 100%;
    background-position: center center;
    overflow: hidden; }
    .project > .left > .left-image {
      height: 100%;
      width: 100%;
      background-size: auto 100%;
      background-position: center center; }
    .project > .left > .angle {
      width: 50px;
      height: 810px;
      transform: rotate(2deg); }
      .project > .left > .angle.odd {
        transform: rotate(-2deg); }
      .project > .left > .angle.left {
        position: absolute;
        background: white;
        margin-left: -36px; }
      .project > .left > .angle.right {
        width: 30px;
        background: white;
        margin-left: -14px;
        margin-right: -20px; }
  .project > .right {
    overflow: hidden;
    height: 100%;
    width: 100%;
    min-width: 450px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .project .job {
    font-size: 19px;
    font-weight: bold;
    background: #D6F8F1;
    padding: 5px 10px;
    margin: 60px 0px 20px 0px; }
  .project .title {
    font-size: 64px;
    text-align: center;
    border-bottom: 1px solid black;
    max-width: 500px;
    height: 54px;
    font-weight: bold;
    padding: 0px 10px; }
  .project .subtitle {
    font-size: 19px;
    font-weight: bold;
    width: 300px;
    margin: 20px 0px;
    text-align: center; }
  .project .info {
    width: 370px;
    text-align: left;
    margin-top: 20px; }

.navigation-spacer {
  height: 60px; }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #F4F4F4;
  background-color: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center; }
  .navigation > .icon {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 20px; }
  .navigation > .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; }
    .navigation > .menu > .item {
      font-size: 16px;
      font-weight: bold;
      margin-right: 20px; }
  .navigation > .socials {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 20px; }

.header {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  height: 350px; }
  .header > .background {
    position: absolute;
    display: block;
    width: 100%;
    margin-top: 40px;
    height: 250px;
    display: flex;
    justify-content: center; }
    .header > .background > .left {
      width: 40%;
      height: 238px;
      background: url("assets/header-left.png"); }
    .header > .background > .center {
      width: 1331px;
      height: 250px;
      background-size: 1331px 150px;
      z-index: 99; }
    .header > .background > .right {
      width: 40%;
      height: 223px;
      margin-top: 27px;
      background: url("assets/header-right.png"); }
  .header > .name {
    position: absolute;
    width: 518px;
    margin-top: -40px;
    z-index: 99; }

@font-face {
  font-family: "Butler";
  src: url(assets/butler_regular-webfont.woff2); }

body {
  display: flex;
  flex-direction: column;
  font-family: "Butler", "Times New Roman";
  display: flex;
  align-items: center;
  overflow-x: hidden; }

.spacer {
  height: 30px; }
  .spacer.h-10 {
    height: 10px; }
  .spacer.h-40 {
    height: 40px; }
  .spacer.h-80 {
    height: 80px; }

a {
  color: inherit;
  text-decoration: inherit; }
  a:hover {
    text-decoration: underline; }

.main-content {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center; }

h1 {
  font-size: 64px;
  font-weight: bold;
  background-color: #D6F8F1;
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 55px;
  border-bottom: 1px solid black; }

h3 {
  font-size: 19px;
  font-weight: bold;
  max-width: 325px;
  text-align: center;
  margin-top: 10px; }

.info {
  max-width: 380px;
  font-size: 17px;
  line-height: 26px;
  text-align: center; }
