head
  link(href='main.css' type='text/css' rel='stylesheet')
body
  nav.navigation
    img.icon(src='assets/icon.svg')
    .menu
      .item Who I am
      .item Experience
      .item Let's talk
    .socials
      img.icon(src='assets/logo-500px.svg')
      img.icon(src='assets/logo-medium.svg')
      img.icon(src='assets/logo-github.svg')
      img.icon(src='assets/logo-linkedin.svg')
  .navigation-spacer

  .main-content
    .header
      .background
        .left
        img.center(src='assets/header.png')
        .right
      img.name(src='assets/header-name.png')
